<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect();
  //socket.emit('join', {username: username, roomId: newValue._id});

  socket.on('chat msg', function(msg, date, DisplayName){
  	console.log(DisplayName + " send at: " + date + " message: " + msg);
  });

</script>

<a href="/profile" class="btn btn-default btn-sm">Profile</a>
<a href="/management" class="btn btn-default btn-sm">Management</a>
<a href="/logout" class="btn btn-warning btn-sm">Logout</a>

<ul id="messages"></ul>
<form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>

