<script src="javascripts/knockout.mapping-latest.js" type="text/javascript"></script>
<script src="/javascripts/UserViewModel.js" type="text/javascript" ></script>
<div class="container">
	<div class="page-header text-center">
	    <h1><span class="fa fa-anchor"></span> Management Page</h1>
		<button type="button" class="btn btn-default btn-success btn-sm" data-bind="click: newUser, enable: !currentUser.isNew">New user</button>
		<a href="/profile" class="btn btn-default btn-sm">Profile</a>
		<a href="/chat" class="btn btn-default btn-sm">Chat</a>
		<a href="/logout" class="btn btn-warning btn-sm">Logout</a>
  	</div>
 	
 	<div class="row">
  		<div class="col-md-6">
  			<h4>All users</h4>
  			<table class="table table-hover">
		 		<thead>
		 			<tr>
			 			<th>Username</th>
			 			<th>Display Name</th>
			 			<th>Radius</th>
		 			</tr>
		 		</thead>
			 	<tbody data-bind="foreach: users()">
			        <tr data-bind="click: $root.selectUser, css: { active: isSelected}">
			            <td width="200px" data-bind="text: UserName"></td>
			            <td width="200px" data-bind="text: DisplayName"></td>
			            <td width="200px" data-bind="text: RadiusM"></td>

			        </tr>
			    </tbody>
			    <tbody>
			    <!-- ko if: users().length == 0 -->
			  		<tr>
			   			<td colspan="3">There are no users found</td>
			   		</tr>
			  	<!-- /ko -->
			  	</tbody>
			</table>
	  	</div>
  		<div class="col-md-6" >
  		
  			<h4>User Details</h4>

  			  <!-- ko if: currentUser() -->
		  	
	  			<div class="row">
	  				<div class="details">
		  			   	<label>Username: </label>
		  			   	<!-- ko ifnot: currentUser().isNew -->
					    <label data-bind="text: currentUser().UserName" >username</label>
					    <!-- /ko -->
			  			<!-- ko if: currentUser().isNew -->
			  			<input type="text" data-bind="value: currentUser().UserName" />
			  			<!-- /ko -->
					</div>
	  			</div>

			  	<div class="row">
			  		<div class="details">
				      	<label>Display Name</label>
				      	<input type="text" data-bind="value: currentUser().DisplayName" />
				    </div>
	  			</div> 
	  			<div class="row">
			  		<div class="details" >
				      	<label>Radius</label>
				      	<input type="number" data-bind="value: currentUser().RadiusM" />
				    </div>
			    </div>
	  			<div class="row">
	  				<div class="details" >
	  					<h4>Change password</h4>
		  			   	<label>Password</label>
					    <input type="password" data-bind="value: currentUser().password" />
					</div>
	  			</div>
	  			<div class="row">
	  				<div class="details" >
		  			   	<label>Confirm password</label>
					    <input type="password" data-bind="value: currentUser().passwordConfirm" />
					</div>
	  			</div> 
	  			<div class="row">
	  				<div class="details" >
					    	{{!-- <h4 data-bind="">Password and Confirm password are not the same.</h4> --}}
					</div>
	  			</div>
			    
	  			<div class="row">
	  				<div class="details" >
			      	<!-- ko if: currentUser().isNew -->
			      	 	<button type="button" class="btn btn-xs btn-success btn-lg" data-bind="click: $root.addUser">Add user</button>
			      	<!-- /ko -->
			  		<!-- ko ifnot: currentUser().isNew -->
				     	<button type="button" class="btn btn-xs btn-warning btn-lg" data-bind="click: $root.updateUser,  enable: currentUser().hasChanged">Save changes</button>
				     	<button type="button" class="btn btn-xs btn-danger btn-lg" data-bind="click: $root.removeUser,">remove</button>
				    <!-- /ko -->
				   	</div>
				</div>
			  <!-- /ko -->
			  <!-- ko ifnot: currentUser() -->
			  		<p>Currently no user selected</p>
			  <!-- /ko -->

  		</div> 
  	</div>
 	

<script>
		ko.applyBindings(new UserViewModel());
</script>